<h1>List index found at: app/views/lists/index.html.erb</h1>


<ul>
  <% @lists.each do |list| %>
  <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'Create a new list', new_list_path %>
