<h1>List index found at: app/views/lists/index.html.erb</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'Create a new list', new_list_path %>
